<h1>Projects</h1>
<br>
<p *ngIf="!(projects$ | async)"><em>Loading...</em></p>
<p>
  <a [routerLink]="['/projects/add']" class="btn btn-primary float-right mb-3">New project</a>
</p>
<h4>Projects you've created:</h4>
<table class="table table-sm table-hover" *ngIf="(projects$ | async)?.length>0">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <!-- <th>Creator</th>
      <th>Date</th> -->
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of (projects$ | async); let i = index">
      <td>{{ i  + 1}}</td>
      <td><a [routerLink]="['/project/', project.id]">{{ project.projectName }}</a></td>
      <!-- <td>{{ blogPost.creator }}</td>
      <td>{{ blogPost.dt | date: "dd.MM.y" }}</td> -->
      <td><a [routerLink]="['/projects/edit/', project.id]" class="btn btn-primary btn-sm float-right">Edit</a></td>
      <td><a [routerLink]="" (click)="delete(project.id)" class="btn btn-danger btn-sm float-right">Delete</a></td>
    </tr>
  </tbody>
</table>
<h4>Projects you're in:</h4>
<br>
<table class="table table-sm table-hover" *ngIf="(projects$ | async)?.length>0">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <!-- <th>Creator</th>
      <th>Date</th> -->
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of (projects$ | async); let i = index">
      <td>{{ i  + 1}}</td>
      <td><a [routerLink]="['/project/', project.id]">{{ project.projectName }}</a></td>
      <!-- <td>{{ blogPost.creator }}</td>
      <td>{{ blogPost.dt | date: "dd.MM.y" }}</td> -->
      <!-- <td><a [routerLink]="['/projects/edit/', project.id]" class="btn btn-primary btn-sm float-right">Edit</a></td>
      <td><a [routerLink]="" (click)="delete(project.id)" class="btn btn-danger btn-sm float-right">Delete</a></td> -->
    </tr>
  </tbody>
</table>